<?xml version="1.0" encoding="UTF-8"?>
<config>
	<modules>
		<React_React>
			<version>0.0.1</version>
		</React_React>
	</modules>
	<frontend>
		<routers>
			<react>
				<use>standard</use>
				<args>
					<module>React_React</module>
					<frontName>react</frontName>
				</args>
			</react>
		</routers>
		<layout>
			<updates>
				<react module="React_React">
					<file>react.xml</file>
				</react>
			</updates>
		</layout>
	</frontend>
	<adminhtml>
		<layout>
			<updates>
				<react>
					<file>react.xml</file>
				</react>
			</updates>
		</layout>
	</adminhtml>
	<global>
		<models>
			<react>
				<class>React_React_Model</class>
			</react>
		</models>
		<resources>
            <react_setup>
                <setup>
                    <module>React_React</module>
                </setup>
            </react_setup>
        </resources>
		<blocks>
			<react>
				<class>React_React_Block</class>
			</react>
		</blocks>
		<helpers>
			<react>
				<class>React_React_Helper</class>
			</react>
		</helpers>
		<events>
			<customer_delete_before>
				<observers>
					<react_remove_user>
						<class>React_React_Model_Observer</class>
						<method>userRemoveProvider</method>
					</react_remove_user>
				</observers>
			</customer_delete_before>
			<customer_login>
				<observers>
					<react_remove_user>
						<class>React_React_Model_Observer</class>
						<method>renewSession</method>
					</react_remove_user>
				</observers>	
			</customer_login>
			<controller_action_predispatch_wishlist_index_add>
				<observers>
					<react_wishlist_login>
						<class>React_React_Model_Observer</class>
						<method>wishlistLoginRedirect</method>
					</react_wishlist_login>	
				</observers>
			</controller_action_predispatch_wishlist_index_add>
			<controller_action_postdispatch_customer_account_confirm>
				<observers>
					<react_email_confirm>
						<class>React_React_Model_Observer</class>
						<method>customerEmailConfirm</method>
					</react_email_confirm>	
				</observers>	
			</controller_action_postdispatch_customer_account_confirm>
		</events>
	</global>
	<default>
		<react>
			<settings>
				<description>Save time and skip the hassle of creating yet another account. Just use your favorite Social Network to login or register!</description>
			</settings>
		</react>		
	</default>
</config>