<?xml version="1.0" encoding="UTF-8"?>
<config>
	<modules>
		<React_React>
			<version>0.0.1</version>
		</React_React>
	</modules>
	<frontend>
		<routers>
			<react>
				<use>standard</use>
				<args>
					<module>React_React</module>
					<frontName>react</frontName>
				</args>
			</react>
		</routers>
		<layout>
			<updates>
				<react module="React_React">
					<file>react.xml</file>
				</react>
			</updates>
		</layout>
	</frontend>
	<adminhtml>
		<layout>
			<updates>
				<react>
					<file>react.xml</file>
				</react>
			</updates>
		</layout>
	</adminhtml>
	<global>
		<models>
			<react>
				<class>React_React_Model</class>
			</react>
		</models>
		<blocks>
			<react>
				<class>React_React_Block</class>
			</react>
		</blocks>
		<helpers>
			<react>
				<class>React_React_Helper</class>
			</react>
		</helpers>
		<events>
			<customer_delete_before>
				<observers>
					<react_remove_user>
						<class>React_React_Model_Observer</class>
						<method>userRemoveProvider</method>
					</react_remove_user>
				</observers>
			</customer_delete_before>
		</events>
	</global>
</config>