.react-login {margin-bottom:30px} 
.react-login .provider {padding:17px 0;margin:0 30px 0 0 ;display:block;float:left;cursor:pointer}
.react-login .provider input {margin-right: 5px;}
.react-login span.image, .react-providers span.image {padding:17px 24px;background:url(images/sprite.png) no-repeat transparent;}

.react-login span.facebook, .react-providers span.facebook { background-position: 0 -99px}
.react-login span.twitter, .react-providers span.twitter  { background-position: 0 -50px}
.react-login span.google, .react-providers span.google { background-position: 0 -197px}
.react-login span.windowslive, .react-providers span.windowslive { background-position: 0 -246px}
.react-login span.linkedin, .react-providers span.linkedin { background-position: 0 -1px}
.react-login span.yahoo, .react-providers span.yahoo { background-position: 0 -540px}
.react-login span.foursquare, .react-providers span.foursquare { background-position: 0 -491px}
.react-login span.myspace, .react-providers span.myspace{ background-position: 0 -295px}
.react-login span.hyves, .react-providers span.hyves  { background-position: 0 -148px}

.react-login .links {text-align: center;height:48px;margin:0 auto;padding-top:10px}
.react-login .button-container {clear:both;text-align:right}

.react-providers td {vertical-align:middle}
.react-providers td .action {display:block;padding-bottom: 37px;}
td.provider-container {width:60px;height:75px;text-align:center}

.account-login.react .content {min-height:0}
