.react-login {margin-bottom:30px} 
.react-login .provider {padding:17px 0;margin:0 30px 0 0 ;display:block;float:left;cursor:pointer}
.react-login .provider input {margin-right: 5px;}
.react-login span.image, .react-providers span.image {padding:17px 24px;background:url(images/sprite.png) no-repeat transparent;}

.react-login span.facebook, .react-providers span.facebook { background-position: 0 -99px}
.react-login span.twitter, .react-providers span.twitter  { background-position: 0 -50px}
.react-login span.google, .react-providers span.google { background-position: 0 -197px}
.react-login span.windowslive, .react-providers span.windowslive { background-position: 0 -246px}
.react-login span.linkedin, .react-providers span.linkedin { background-position: 0 -1px}
.react-login span.yahoo, .react-providers span.yahoo { background-position: 0 -540px}
.react-login span.foursquare, .react-providers span.foursquare { background-position: 0 -491px}
.react-login span.myspace, .react-providers span.myspace{ background-position: 0 -295px}
.react-login span.hyves, .react-providers span.hyves  { background-position: 0 -148px}

.react-login .links {text-align: center;height:48px;margin:0 auto;padding-top:10px}
.react-login .button-container {clear:both;text-align:right}

.react-providers td {vertical-align:middle}
.react-providers td .action {display:block;padding-bottom: 37px;}
td.provider-container {width:60px;height:75px;text-align:center}

.account-login.react .content {min-height:0}
#react_share {display:block; margin:10px 0}
#react_overlay{position: fixed; z-index:9999; top:0; left:0; width:100%; height:100%; background: url('images/overlay.png');}
#react_modalbox #react_dialogbox {position:fixed; z-index:10000; width:400px; margin-left:-200px; left:-10000px; top:-10000px;}
#react_modalbox .main {min-height: 0; padding: 25px; border-radius: 10px; height: auto}
#react_modalbox .error-msg.react {border: 0 !important; background: none !important; font-size: 13px !important; margin:0 !important; padding: 0 0 5px!important}
#react_modalbox .main > div {margin: 0}
#react_box_loader {position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: url(images/ajax-loader.gif) center center no-repeat transparent; z-index: -1;}
#react_modal_error {position: absolute; top: 0; left: 0; width: 100%; height: 100%; text-align: center; vertical-align: central;}
#react_modalbox .continue {display: block; position: absolute; bottom: 25px; right: 25px;}
.react-providers a.connected {color: #000}
#react_modalbox .provider {margin: 17px 15px 17px 0; padding: 0; width: 98px}
#react_modalbox button.button {margin-left: 10px;}
#react_message {display: block; width: 343px}
#react_dialogbox .fieldset {padding: 22px 25px 12px;}
#react_dialogbox ul.messages {margin-bottom: 15px !important}